#URL PORT
PORT=:50053

#DATABASE
DB_URL=

#GALILEO
GALILEO_URL=
GALILEO_LOGIN=
GALILEO_TRANSKEY=
GALILEO_PROVIDER_ID=
GALILEO_PRODUCT_ID=

#PLAID
PLAID_CLIENT_ID=
PLAID_SANDBOX_ID=
PLAID_DEVELOPMENT_ID=
